<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gugudan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1C1C7651E6184EA007A7EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1C1C77C1E6184EB007A7EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1C1C7871E6184EB007A7EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
